<app-hero-detail-view [$hero]='this.hero' [$readonly]='false'></app-hero-detail-view>
<button (click)='this.goBack()'>go back</button>
<button (click)='this.updateHero()' *ngIf="this.hero">save</button>
