<div id="search-component">
  <h4><label for="search-box">Hero Search</label></h4>

  <!-- Selected: {{selectedHeroId}}<br/> -->
  <ng-select id="search-box" [items]="heroes$ | async" (search)="search($event.term)"
             bindLabel="name"
             autofocus
             bindValue="id"
             [(ngModel)]="SelectedHeroId">
  </ng-select>
</div>
