/* You can add global styles to this file, and also import other style files */
/* 애플리케이션 전역에 적용되는 스타일 */
@import "~@ng-select/ng-select/themes/default.theme.css";

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[type="text"], button {
  color: #333;
  font-family: Cambria, Georgia;
}
/* 모든 엘리먼트에 적용되는 스타일 */
* {
  font-family: Arial, Helvetica, sans-serif;
}
